In [11]:
import time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from transformers import pipeline
from transformers import BartTokenizer, BartForConditionalGeneration

In [6]:
# https://huggingface.co/docs/transformers/model_doc/bart#transformers.BartForConditionalGeneration

t0 = time.time()

summarizer = pipeline("summarization", model="facebook/bart-large-cnn")
# summarizer.model.to("cuda")

ARTICLE = """ 
New York (CNN)When Liana Barrientos was 23 years old, she got married in Westchester County, New York.
A year later, she got married again in Westchester County, but to a different man and without divorcing her first husband.
Only 18 days after that marriage, she got hitched yet again. 
Then, Barrientos declared "I do" five more times, sometimes only within two weeks of each other.
In 2010, she married once more, this time in the Bronx. 
In an application for a marriage license, she stated it was her "first and only" marriage.
Barrientos, now 39, is facing two criminal counts of "offering a false instrument for filing in the first degree," 
referring to her false statements on the
2010 marriage license application, according to court documents.
Prosecutors said the marriages were part of an immigration scam.
On Friday, she pleaded not guilty at State Supreme Court in the Bronx, according to her attorney, 
Christopher Wright, who declined to comment further.
After leaving court, 
Barrientos was arrested and charged with theft of service and criminal trespass for allegedly sneaking 
into the New York subway through an emergency exit, said Detective
Annette Markowski, a police spokeswoman. 
In total, Barrientos has been married 10 times, with nine of her marriages occurring between 1999 and 2002.
All occurred either in Westchester County, Long Island, New Jersey or the Bronx. 
She is believed to still be married to four men, and at one time, she was married to eight men at once, prosecutors say.
Prosecutors said the immigration scam involved some of her husbands, 
who filed for permanent residence status shortly after the marriages.
Any divorces happened only after such filings were approved. It was unclear whether any of the men will be prosecuted.
The case was referred to the Bronx District Attorney\'s Office by 
Immigration and Customs Enforcement and the Department of Homeland Security\'s
Investigation Division. 
Seven of the men are from so-called "red-flagged" countries, including Egypt, Turkey, Georgia, Pakistan and Mali.
Her eighth husband, Rashid Rajput, was deported in 2006 to his native Pakistan after an investigation 
by the Joint Terrorism Task Force.
If convicted, Barrientos faces up to four years in prison.  Her next court appearance is scheduled for May 18.
"""

answer = summarizer(ARTICLE, max_length=100, min_length=30, do_sample=False)

print("Time spend", np.round(time.time()-t0, 2), "s")

Time spend 13.41 s

In [7]:
print(answer[0]["summary_text"])

Liana Barrientos has been married 10 times, with nine of her marriages occurring between 1999 and 2002. She is believed to still be married to four men, and at one time, she was married to eight men at once, prosecutors say. She pleaded not guilty at State Supreme Court in the Bronx.

In [9]:
len(answer[0]["summary_text"])

284

In [8]:
len(answer[0]["summary_text"].split())

52

In [13]:
model = BartForConditionalGeneration.from_pretrained("facebook/bart-large")
tokenizer = BartTokenizer.from_pretrained("facebook/bart-large")

Downloading:   0%|          | 0.00/971M [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/878k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/446k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/26.0 [00:00<?, ?B/s]

In [14]:
tokenizer(ARTICLE)["input_ids"]

[0,
 1437,
 50118,
 4030,
 469,
 36,
 16256,
 43,
 1779,
 226,
 8878,
 1731,
 39374,
 366,
 21,
 883,
 107,
 793,
 6,
 79,
 300,
 2997,
 11,
 580,
 17419,
 413,
 6,
 188,
 469,
 4,
 50118,
 250,
 76,
 423,
 6,
 79,
 300,
 2997,
 456,
 11,
 580,
 17419,
 413,
 6,
 53,
 7,
 10,
 430,
 313,
 8,
 396,
 35447,
 11162,
 69,
 78,
 1623,
 4,
 50118,
 19933,
 504,
 360,
 71,
 14,
 3397,
 6,
 79,
 300,
 478,
 3804,
 648,
 456,
 4,
 1437,
 50118,
 12948,
 6,
 1731,
 39374,
 366,
 2998,
 22,
 100,
 109,
 113,
 292,
 55,
 498,
 6,
 2128,
 129,
 624,
 80,
 688,
 9,
 349,
 97,
 4,
 50118,
 1121,
 1824,
 6,
 79,
 2997,
 683,
 55,
 6,
 42,
 86,
 11,
 5,
 18170,
 4,
 1437,
 50118,
 1121,
 41,
 2502,
 13,
 10,
 3397,
 4385,
 6,
 79,
 2305,
 24,
 21,
 69,
 22,
 9502,
 8,
 129,
 113,
 3397,
 4,
 50118,
 14507,
 39374,
 366,
 6,
 122,
 3191,
 6,
 16,
 2114,
 80,
 1837,
 3948,
 9,
 22,
 1529,
 2961,
 10,
 3950,
 10320,
 13,
 3386,
 11,
 5,
 78,
 3093,
 60,
 1437,
 50118,
 241,
 6646,
 4506,
 7,
 69,
 3950,
 1997,
 15,
 5,
 50118,
 24789,
 3397,
 4385,
 2502,
 6,
 309,
 7,
 461,
 2339,
 4,
 50118,
 44693,
 26,
 5,
 21304,
 58,
 233,
 9,
 41,
 2447,
 10656,
 4,
 50118,
 4148,
 273,
 6,
 79,
 4407,
 45,
 2181,
 23,
 331,
 2124,
 837,
 11,
 5,
 18170,
 6,
 309,
 7,
 69,
 1921,
 6,
 1437,
 50118,
 41055,
 5825,
 6,
 54,
 1981,
 7,
 1129,
 617,
 4,
 50118,
 4993,
 1618,
 461,
 6,
 1437,
 50118,
 14507,
 39374,
 366,
 21,
 1128,
 8,
 1340,
 19,
 5751,
 9,
 544,
 8,
 1837,
 35619,
 13,
 2346,
 36596,
 1437,
 50118,
 12473,
 5,
 188,
 469,
 15604,
 149,
 41,
 1923,
 4205,
 6,
 26,
 13924,
 50118,
 4688,
 25582,
 1190,
 7897,
 6,
 10,
 249,
 3582,
 4,
 1437,
 50118,
 1121,
 746,
 6,
 1731,
 39374,
 366,
 34,
 57,
 2997,
 158,
 498,
 6,
 19,
 1117,
 9,
 69,
 21304,
 14196,
 227,
 6193,
 8,
 5241,
 4,
 50118,
 3684,
 2756,
 1169,
 11,
 580,
 17419,
 413,
 6,
 2597,
 2376,
 6,
 188,
 3123,
 50,
 5,
 18170,
 4,
 1437,
 50118,
 2515,
 16,
 2047,
 7,
 202,
 28,
 2997,
 7,
 237,
 604,
 6,
 8,
 23,
 65,
 86,
 6,
 79,
 21,
 2997,
 7,
 799,
 604,
 23,
 683,
 6,
 3659,
 224,
 4,
 50118,
 44693,
 26,
 5,
 2447,
 10656,
 963,
 103,
 9,
 69,
 27718,
 6,
 1437,
 50118,
 8155,
 1658,
 13,
 4398,
 5238,
 2194,
 3691,
 71,
 5,
 21304,
 4,
 50118,
 11913,
 35447,
 4643,
 1102,
 129,
 71,
 215,
 9045,
 58,
 2033,
 4,
 85,
 21,
 4381,
 549,
 143,
 9,
 5,
 604,
 40,
 28,
 15984,
 4,
 50118,
 133,
 403,
 21,
 4997,
 7,
 5,
 18170,
 1384,
 2745,
 18,
 1387,
 30,
 1437,
 50118,
 37380,
 33836,
 8,
 10465,
 10406,
 8,
 5,
 641,
 9,
 9777,
 2010,
 18,
 50118,
 19923,
 18541,
 2925,
 4,
 1437,
 50118,
 35731,
 9,
 5,
 604,
 32,
 31,
 98,
 12,
 4155,
 22,
 2050,
 12,
 4825,
 11290,
 113,
 749,
 6,
 217,
 5028,
 6,
 2769,
 6,
 3090,
 6,
 1752,
 8,
 16193,
 4,
 50118,
 13584,
 4413,
 1623,
 6,
 9516,
 808,
 3288,
 9179,
 6,
 21,
 14894,
 11,
 3503,
 7,
 39,
 3763,
 1752,
 71,
 41,
 803,
 1437,
 50118,
 1409,
 5,
 9490,
 28294,
 12927,
 3177,
 4,
 50118,
 1106,
 3828,
 6,
 1731,
 39374,
 366,
 2419,
 62,
 7,
 237,
 107,
 11,
 1789,
 4,
 1437,
 1405,
 220,
 461,
 2772,
 16,
 1768,
 13,
 392,
 504,
 4,
 50118,
 2]